* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Serif';
}

.container {
  width: calc(52 * 14px + 10px);
  margin: 0 auto;
  padding-bottom: 20px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 16px 0;
  text-transform: uppercase;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  border: 1px solid #000;
  height: 12px;
  width: 12px;
  margin: 1px;
  position: relative;
}

.cell.paint {
  background-color: #000;
}

.number {
  position: absolute;
  right: calc(-100% - 10px);
  font-size: 12px;
}

input {
  margin: 16px 0;
  height: 30px;
}

button {
  height: 30px;
  cursor: pointer;
  border: 0;
  background-color: #C3B497;
}

.line {
  height: 10px;
  width: 100%;
}

.column {
  height: 100%;
  width: 10px;
}
